<footer class="footer mt-auto py-3 bg-dark">
  <div class="container text-center">
    <span class="text-white">Copyright &copy; <%= link_to "Todd's Github", "https://github.com/xfroggy", class: "text-white text-underline-hover" %> </span>
  </div>
</footer>
